# Node
node_modules/
npm-debug.log*

# Environment Variables
.env
.env.local
.env.*

# IDEs
.vscode/
.idea/

# Build
dist/
build/

# Logs
logs/
*.log

# OS
.DS_Store

# Temporary files
tmp/
temp/

# Next.js
.next/
out/

